backend/.gradle/*
backend/build/*
backend/.idea
backend/*.ipr
backend/*.iml
backend/*.iws
backend/.env
backend/.quarkus/cli/plugins/*
backend/.certs/*
backend/.kotlin/*
backend/gradle/*
keycloak_data/*
postgres_data/*
frontend/node_modules/*
node_modules/.package-lock.json
backend/src/main/resources/application-local.properties
